input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.itemForm {
  border-radius: 10px;
  padding: 25px;
}

ng-select.ng-invalid.ng-touched {
  border: 1px solid red;
}
