<app-navbarguest></app-navbarguest>
<br>
<br>
<div class="site-wrap">

  <div class="site-blocks-cover inner-page">
    <div class="container">
      <div class="row">
        <div class="mx-auto align-self-center">
          <div class=" text-center">
            <h1 class="text1">Weerasiri Pharmacy</h1>
            <h1 class="text2">About Us</h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="block-16">
            <figure>
              <img src="assets/346.jpg" alt="Image placeholder" class="img-fluid rounded">
              <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                  class="icon-play"></span></a>

            </figure>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">


          <div class="site-section-heading pt-3 mb-4">
            <h2 class="text-black">How We Started</h2>
          </div>
          <p>The owner, Mr. Ananda Weerasiri, has started this business in 2007. Their main business process is selling
            medical
            products such as medicinal drugs and medical equipment to customers. Buying pharmaceutical products from
            local agents of
            drug companies and maintaining stocks are also a part of their business process. Currently, two trainee
            sales girls are
            helping the owner in the process of issuing prescribed medicines to the customers.</p>

        </div>
      </div>
    </div>
  </div>



  <div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 order-md-2">
          <div class="block-16">
            <figure>
              <img src="assets/456.jpg" alt="Image placeholder" class="img-fluid rounded">
              <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                  class="icon-play"></span></a>

            </figure>
          </div>
        </div>
        <div class="col-md-5 mr-auto">


          <div class="site-section-heading pt-3 mb-4">
            <h2 class="text-black">We Are Trusted Company</h2>
          </div>
          <p class="text-black">"Weerasiri pharmacy is a pharmaceutical product seller who is registered under the
            National Medical Regulatory Authority
            (NMRA). It is situated in Kirillawala area adjacent to the Colombo-Kandy main road. The owner, Mr. Ananda
            Weerasiri, has
            started this business in 2007. Their main business process is selling medical products such as medicinal
            drugs and
            medical equipment to customers."</p>
          <p class="text-black"></p>

        </div>
      </div>
    </div>
  </div>

  <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
          <div class="icon mr-4 align-self-start">
            <span class="icon-truck text-primary"></span>
          </div>
          <div class="text">
         
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
          <div class="icon mr-4 align-self-start">
            <span class="icon-refresh2 text-primary"></span>
          </div>
          <div class="text">
            
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
          <div class="icon mr-4 align-self-start">
            <span class="icon-help text-primary"></span>
          </div>
          <div class="text">
           
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section1 bg-dark custom-border-bottom" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <img src="assets/images (1).jpg" alt="Image placeholder" class="mb-4">
          <h2>The Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-5">

          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="assets/images (3).jpg" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Ananda Weerasiri</h3>
                <p class="block-38-subheading">Owner-Founder</p>
              </div>
              <div class="block-38-body">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="assets/images (2).jpg" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Nimali Fernando</h3>
                <p class="block-38-subheading">Co-Founder</p>
              </div>
              <div class="block-38-body">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="assets/images (2).jpg" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Harshika Perera</h3>
                <p class="block-38-subheading">Staff member</p>
              </div>
              <div class="block-38-body">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="assets/images (2).jpg" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4"></h3>
                <p class="block-38-subheading"></p>
              </div>
              <div class="block-38-body">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <br><br>
  <footer class="site-footer">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

          <div class="block-7">
            <h3 class="footer-heading mb-4">About Us</h3>
            <p>"Weerasiri pharmacy is a pharmaceutical product seller who is registered under the National Medical
              Regulatory Authority
              (NMRA). It is situated in Kirillawala area adjacent to the Colombo-Kandy main road. The owner, Mr. Ananda
              Weerasiri, has
              started this business in 2007. Their main business process is selling medical products such as medicinal
              drugs and
              medical equipment to customers."</p>
          </div>

        </div>
 

        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">33/A,Kirillawala,Kadawatha </li>
              <li class="phone">T.P:0112345672</li>
              <li class="email">Weerasiripharmacy@gmail.com</li>
            </ul>
          </div>


        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>

      


          </p>
        </div>

      </div>
    </div>
  </footer>
</div>


